/* #e5e7eb
*/
*{
    box-sizing: border-box;
}
html{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
body{
    margin: 0px;
    background-color: black;
    text-align: center;

}
form{
    display: grid;
    text-transform: capitalize;
    justify-content: center;
    /*margin: 5em;*/
    width: 100%;
}
input{
    display: flex;
    padding: 1.3em;
    margin: 1em;
    border-radius: 7px;
    border: #e5e7eb;
    text-align: center;
    text-transform: capitalize;
}
input[type = submit]{
    text-align: center;
    text-transform: capitalize;
    margin-right: 3em;
    margin-left: 5em;
    background-color: #596d48;
    border: #e5e7eb;
    color: #e5e7eb;

}
legend{
    font-size: 2em;
    color: #596d48;
}
h3{
    text-align: center;
}
.container-1{
	margin: 5em;
}
h2{
	color: #596d48;
	text-transform: capitalize;
	font-size: 2.333em;
}